@import url(index.css);

body {
    font-family:'Times New Roman', Times, serif;
    background-image: -webkit-image-set("../images/index/bak.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* image-rendering:; */
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 50px auto;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    font-size: 50px;
    color: snow;
}
p {
    text-align: center;
    font-size: 24px;
    color: snow;
}
.contact-details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}
.contact-details div {
    width: 30%;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.contact-details div h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: snow;
}
.contact-details div p {
    font-size: 22px;
    color: snow;
}
form {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
label {
    font-size: 24px;
    color: snow;
    display: block;
    margin-bottom: 13px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 21px;
}
textarea {
    resize: vertical;
    height: 120px;
}
input[type="submit"] {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: none;
    color:snow;
    font-size: 35px;
    cursor: pointer;
    border-radius: 8px;
}
input[type="submit"]:hover {
    background: radial-gradient(circle at 7.4% 45.1%, rgb(236, 206, 251) 0%, rgb(205, 237, 246) 45.1%, rgb(227, 251, 252) 78.4%, rgb(230, 247, 235) 90%);
    color: #070a2be6;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #070a2be6;
    color:snow;
}